numpy
pandas
scikit-learn
tqdm
dgl==1.0.0+cu117
ogb==1.3.5
torch==1.13.1
pyg-lib==0.1.0+pt113cu117
torch-scatter==2.1.0+pt113cu117
torch-sparse==0.6.16+pt113cu117
torch-cluster==1.6.0+pt113cu117
torch-spline-conv==1.2.1+pt113cu117
torch-geometric==2.2.0
